IntershipsZ7/IntershipsZ7/Connected Services/MyService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyService" />
  <xs:element name="GetListOfNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="GetListOfNamesResult" nillable="true" type="q1:ListSOROfImmoInfoN5x5yyRL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DBSave">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DBSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="DBSaveResult" nillable="true" type="q2:ServiceOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartImmovablesEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartImmovablesEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="StartImmovablesEditResult" nillable="true" type="q3:EssenceSOROfImmovablesz2cTNpOZ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetImmovablesFieldValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="val" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetImmovablesFieldValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="SetImmovablesFieldValueResult" nillable="true" type="q4:EssenceSOROfImmovablesz2cTNpOZ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelEdit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MyService" minOccurs="0" name="CancelEditResult" nillable="true" type="q5:EssenceSOROfImmovablesz2cTNpOZ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>