IntershipsZ7/IntershipsZ7/Connected Services/MyService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Reflection" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Reflection" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPropertyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropertyInfo" nillable="true" type="tns:PropertyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropertyInfo" nillable="true" type="tns:ArrayOfPropertyInfo" />
  <xs:complexType name="PropertyInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MemberInfo">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PropertyInfo" nillable="true" type="tns:PropertyInfo" />
  <xs:complexType name="MemberInfo">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="MemberInfo" nillable="true" type="tns:MemberInfo" />
</xs:schema>