IntershipsZ7/IntershipsZ7/Connected Services/RemoteService/Saver3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SampleService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SampleService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceOperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceOperationResult" nillable="true" type="tns:ServiceOperationResult" />
</xs:schema>