IntershipsZ7/IntershipsZ7/Connected Services/RemoteService/Saver1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59821/SampleService/Saver.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonLib.Models" />
  <xs:import schemaLocation="http://localhost:59821/SampleService/Saver.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SampleService" />
  <xs:element name="DBSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonLib.Models" minOccurs="0" name="im" nillable="true" type="q1:Immovables" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DBSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SampleService" minOccurs="0" name="DBSaveResult" nillable="true" type="q2:ServiceOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>