IntershipsZ7/IntershipsZ7/Connected Services/RemoteService/Saver2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonLib.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonLib.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Immovables">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assigment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Footage" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumbFloors" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumbRooms" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="SizePlot" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="TypeApart" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Immovables" nillable="true" type="tns:Immovables" />
</xs:schema>